python-whois
# I think this only works in Linux, doesn't show up in windows
# smtplib
# Music tag manager
# https://github.com/nicfit/eyeD3
eyed3
htmlmin~=0.1.12
beautifulsoup4~=4.12.2
fs~=2.4.16
python-dotenv~=1.0.1
psutil~=5.9.5
tkcalendar
pandas